
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}


.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.part1{
    background-color: #1C1C1C;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 45px;
    justify-content: center;
    align-items: center;
    color: white;
}

.part2 {
    background-color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading2{
    font-size: 36px;
    color: #000000;
    font-weight: 400;
    margin: 0px 0px 24px;
}

.para2{
    font-size: 16px;
    color: #00001187;
    margin: 0px 0px 36px;
}

.label2{
    font-size: 15px;
    margin: 0px 0px 8px;
}

.filler {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 12px 16px;
    border-radius: 12px;
    border: 2px rgb(242, 238, 238) solid;
    width: 500px;
}

.input::placeholder{
    font-size: 16px;
}

.next {
    font-size: 16px;
    color: white;
    background-color: #6E6E6E;
    padding: 9px 16px;
    border-radius: 20px;
    border: none;

}

hr {
    height: 4px;
    width: 75px;
    background-color: #D6D3D1;
    border-radius: 30px;
}

.footer2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    margin: 32px 0px 0px;
    padding: 24px 0px 0px;
}

.lines {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 7px;
    margin-left: 220px;
}

#company {
    margin-bottom: 10px;
}

.top{
    font-size: 22px;
    font-weight: 600;
    margin: 0px 0px 65px;
}

.header {
    font-size: 48px;
    margin: 0px 0px 24px;
}

.tag{
    font-size: 14px;
    color: #949494;
    margin: 0px 0px 24px;
    padding-left: 60px;
}

.container1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 45px;
    margin-right: 50px;
    flex: 1;
}

.contain{
    flex: 1;
}

.images {
    margin-top: 12px;
    display: flex;
    gap: 20px;
    padding: 24px;
}